@media screen and (max-width: 768px){         /* RESPONSIVIDADE TABLETS */
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
        text-align: center;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
        margin-right: 30px;
    }

    p{
        text-align: center;
        margin-left: 15px;
    }

    h1 {
        margin-left: 5px;
    }
}